// Colores
$dixit-celeste: #00adef;
$dixit-gris-oscuro: #6b6565;
$dixit-gris-claro: #eeeef3;

$primary-color: $dixit-celeste;

// Fuentes
$font-titulos: 'Bebas neue','Helvetica neue', Helvetica, Arial, sans-serif;