<div class="row">
  <div class="medium-12 columns">
    <h1>Nuestra comunidad</h1>
    <p>Notamos que en cada ciudad, pueblo, barrio, compañia (cualquier comunidad social) la población aún no es consciente del impacto que los desechos producen en nuestro ambiente.</p>
    <p>Esta realidad crece de forma alarmante en nuestros principales núcleos urbanos, donde es común encontrar desde pilas, plásticos hasta llantas, arrojados en las calles, plazas e incluso causes hídricos.</p>
  </div>
</div>