<div class="row">
  <div class="large-12 columns">
    <h1>Recila.me</h1>
    <p>¿Te preocupa el medio ambiente? ¿No sabés dónde depositar tus desechos? Ayudanos a concienciar a tus amigos en lo que refiere a la posible reutilización o reciclado de los desechos que diariamente todos producimos. Recicla.me busca informar sobre los lugares donde podrán reciclar, tratar o almacenar cierto tipos de residuos, donde con tu aporte lograremos juntos una sociedad más responsable. Ñamopotĩke ñane retã!</p>
  </div>
</div>

<hr>

<div class="row">
  <div class="large-12 columns">
    <img src="images/reciclame.jpg"/>  
  </div>
</div>