<div class="row">
  <div class="medium-12 columns">
    <h1>Recila.me</h1>
    <p>¿Te preocupa el medio ambiente? ¿No sabés dónde depositar tus desechos? Ayudanos a concienciar a tus amigos en lo que refiere a la posible reutilización o reciclado de los desechos que diariamente todos producimos. Recicla.me busca informar sobre los lugares donde podrán reciclar, tratar o almacenar cierto tipos de residuos, donde con tu aporte lograremos juntos una sociedad más responsable. Ñamopotĩke ñane retã!</p>
  </div>
</div>

<hr>

<div class="row show-for-medium-up">
  <div class="medium-12 columns">
    <iframe src="http://apps.dixit.com.py/reciclame/presentacion" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:400px;" allowTransparency="true"></iframe>
    <small>* Utiliza la barra espaciadora o las teclas de izquierda/derecha para navegar</small>
  </div>
</div>