<div class="row">
  <div class="large-12 columns">
    <h1>Nuestro objetivo</h1>
    <p>Proveer una plataforma que sirva de nexo entre los que desechan y los que reciclan, incentivando el reciclaje, la reutilización y correcta disposición de desechos.</p>
  </div>
</div>