<div class="row">
  <div class="medium-12 columns">
    <h1>Premios Conecta</h1>
    <p><em>Recicla.me</em> fue la única propuesta ambiental finalista de los <a href="http://conecta.tigo.com.py/conecta/proyecto-reciclame.php">Premios Conecta</a>, concurso organizado por Tigo con el apoyo de Koga y Ashoka.</p>    
    <a href="http://conecta.tigo.com.py/conecta/proyecto-reciclame.php"><img src="images/ideas/reciclame-finalista-conecta.png"/></a>
  </div>
</div>