<div class="row">
  <div class="large-12 columns">
    <h1>Premios Conecta</h1>
    <p><em>Recicla.me</em> es la única propuesta ambiental finalista de los <a href="http://conecta.tigo.com.py/conecta/proyecto-reciclame.php">Premios Conecta</a>, concurso organizado por Tigo y Koga. ¡Ayudanos a hacer este proyecto realidad! Necesitamos clicks al botón "Me gusta" que está más abajo para ganar la categoría popular.</p>
    
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fconecta.tigo.com.py%2Fconecta%2Fproyecto-reciclame.php&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=150&amp;appId=732405106815423" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:150px;" allowTransparency="true"></iframe>
    
  </div>
</div>