<div class="row">
  <div class="medium-12 columns">
    <h1>Problemática</h1>
    <p>Nuestro problema es el tratamiento de las basuras. Las distintas comunidades del país tienen nulo interés en el impacto ambiental de los desechos que producen.</p>
    <p>Muchos de esos desechos son potencialmente reutilizables: vidrios, madera, sofás, llantas; como también contaminantes: pilas, baterías.</p>
    <p>Planteamos incentivar el reciclaje y a su vez el correcto depósito de desechos tóxicos, ya que en la mayoría de los casos el reciclaje no se practica, no porque no se tenga la intención sino porque se desconocen la forma y los medios correctos para realizarlo.</p>
  </div>
</div>