<div class="row">
  <div class="medium-12 columns">
    <h1>¿Qué proponemos?</h1>
    <p>Queremos cambiar la forma de ver nuestros desechos. Queremos servir de nexo entre los que tienen algo que ya no les sirve y el que quiere o sabe dónde reciclarlo. Nuestra estrategia es cambiar el destino de nuestras basuras mediante el reciclaje y la reutilización de todo lo que pueda ser útil a nuestra sociedad. Para lograrlo buscamos ofrecer a la comunidad la información necesaria para llevar a cabo esta tarea.</p>
  </div>
</div>