<div class="row">
  <div class="large-12 columns">
    <h1>Tecnología</h1>
    <p>Queremos crear una plataforma web que permita la creación de una comunidad virtual, donde los propios usuarios informen qué tipo de desechos tienen actualmente, de manera a encontrar otro usuario emprendedor que pueda transformar su desecho en algo nuevamente útil; informarse sobre cómo debe tratar su desecho antes de arrojarlo a la basura o buscar algún centro de almacenamiento para el mismo. A su vez, se dispondremos de una aplicación móvil (en principio Android) que contenga información sobre centros y lugares de canje para los desechos, estos estarán siendo dispuestos de acuerdo a sus respectivas localizaciones.</p>
  </div>
</div>