<div class="row">
  <div class="large-12 columns">
    <h1>Ideas</h1>
    <p>En Dixit buscamos soluciones a problemas diversos, porque creemos que definitivamente solo con actitud la tecnología mejorará nuestras vidas.</p>
  </div>
</div>

<div class="row">
	<div class="large-12 columns">

		<div class="panel">
			<h4>Recicla.me</h4>

			<div class="row">
				<div class="large-9 columns">
					<p>Queremos cambiar la forma de ver nuestros desechos. Queremos servir de nexo entre los que tienen algo que ya no les sirve y el que quiere o sabe dónde reciclarlo.</p>
				</div>
				<div class="large-3 columns">
					{{#link-to 'ideas.reciclame' class="radius button right"}}Más sobre el proyecto{{/link-to}}
				</div>
			</div>
		</div>

	</div>
</div>