<br>
<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav">
		  <li><h3>{{#link-to 'ideas.reciclame' class="subtitulo"}}Recicla.me{{/link-to}}<h3></li>
		  <li>{{#link-to 'ideas.reciclame.problematica'}}Problemática{{/link-to}}</li>
		  <li>{{#link-to 'ideas.reciclame.comunidad'}}Comunidad{{/link-to}}</li>
		  <li>{{#link-to 'ideas.reciclame.propuesta'}}¿Qué proponemos?{{/link-to}}</li>
		  <li>{{#link-to 'ideas.reciclame.objetivo'}}Nuestro objetivo{{/link-to}}</li>
		  <li>{{#link-to 'ideas.reciclame.tecnologia'}}Tecnología{{/link-to}}</li>
		</ul>
	</div>
	<div class="large-9 columns">
		{{ outlet }}
	</div>
</div>