body{
	background-color: $dixit-gris-claro;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-titulos;
}

.dixit{
	width: 100%;
	height: 55px;
	margin-top: 10px;
	background-image: url('../images/dixit.svg');
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.65;

	&:hover{
		opacity: 1;
	}
}

.dixit-movil{
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 9999;

	.icon{
		font-size: 3em;
	}
}

.side-nav{
	li{
		a{
			&.active:not(.subtitulo){
			    background: #00adef;
			    color: #ffffff;				
			}
		}
	}
}

.button{
	font-family: $font-titulos;
	font-size: 1.2em;
}

ul{
	&.off-canvas-list{
		li{
			a{
				color:#ffffff;
			}
		}
	}
}

.personas{
	.icon{
		font-size: 1.3em;
		margin-right: 10px;
	}
}