body{
	background-color: $dixit-gris-claro;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-titulos;
}

.button{
	font-family: $font-titulos;
	font-size: 1.2em;
}

ul{
	&.off-canvas-list{
		li{
			a{
				color:#ffffff;
			}
		}
	}
}

.personas,
.blogs{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;

	.icon{
		font-size: 1.3em;
		margin-right: 10px;
	}
}