@charset "UTF-8";

@font-face {
    font-family: 'Bebas neue';
    src: url('../fonts/bebas/BebasNeue-webfont.eot');
    src: url('../fonts/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "dixit";
  src:url("../fonts/dixit/dixit.eot");
  src:url("../fonts/dixit/dixit.eot?#iefix") format("embedded-opentype"),
      url("../fonts/dixit/dixit.woff") format("woff"),
      url("../fonts/dixit/dixit.ttf") format("truetype"),
      url("../fonts/dixit/dixit.svg#dixit") format("svg");
  font-weight: normal;
  font-style: normal;

}

.logo-dixit {
    font-size: 1.15em;
    margin: 0 -2px 0 10px;
    text-decoration: none;
}
.logo-dixit:link, .logo-dixit:visited {
    border-bottom: medium none;
}
.logo-dixit i {
    margin-left: -9px;
}
.logo-dixit i.icon-dixit-t {
    margin-left: -10px;
}

[data-icon]:before {
  font-family: "dixit" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dixit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dixit:before {
  content: "a";
}
.icon-dixit-d:before {
  content: "b";
}
.icon-dixit-i:before {
  content: "c";
}
.icon-dixit-t:before {
  content: "d";
}
.icon-dixit-x:before {
  content: "e";
}
.icon-mail:before {
  content: "f";
}
.icon-menu:before {
  content: "g";
}
.icon-rss:before {
  content: "h";
}
.icon-google-plus:before {
  content: "i";
}
.icon-facebook:before {
  content: "j";
}
.icon-inicio:before {
  content: "k";
}
.icon-twitter:before {
  content: "l";
}
.icon-web:before {
  content: "m";
}
.icon-camara:before {
  content: "n";
}
.icon-persona:before {
  content: "o";
}
.icon-arriba:before {
  content: "p";
}
.icon-abajo:before {
  content: "q";
}
.icon-izquierda:before {
  content: "r";
}
.icon-derecha:before {
  content: "s";
}
.icon-macintosh:before {
  content: "t";
}
.icon-apple:before {
  content: "u";
}
.icon-windows:before {
  content: "v";
}
.icon-linux:before {
  content: "w";
}
.icon-configuracion:before {
  content: "x";
}
.icon-nota:before {
  content: "y";
}
