.home{
	margin-top: -3px;
	
	.section{
		padding: 20px;
		overflow: hidden;

		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		&.bienvenidos{
			background-image: url('../images/slides/bienvenidos.jpg');

			p{
				color: #FFF;

				@media #{$medium-up} {
			        color: #222;
			    }
			}
		}

		&.equipo{
			background-image: url('../images/slides/equipo.jpg');
		}

		&.ideas{
			background-image: url('../images/slides/ideas.jpg');
		}

		&.trabajos{
			background-image: url('../images/slides/trabajos.jpg');
		}

		&.blogs{
			background-image: url('../images/slides/blogs.jpg');
		}

		.vidrio{
			background: rgba(255,255,255,0.5);
			padding: 15px;
		}

		.siguiente{
			font-size: 3em;
		}

		p,.button{
			font-size: 1.3em;
		}

		h2{
			font-size: 3em;
			line-height: 1.1em;
		}

		.dixit{
			height: 75px;
		}
	}
}

#primera-carga {
	.columns{
	    position: absolute;
	    left: 50%;
	    top: 50%;

	    transform: translate(-50%, -50%);
	    -webkit-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	}
}