body{
	background-color: $dixit-gris-claro;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-titulos;
}

.button{
	font-family: $font-titulos;
	font-size: 1.2em;
}

.dixit{
	width: 100%;
	height: 55px;
	margin-top: 10px;
	background-image: url('../img/dixit.svg');
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.65;

	&:hover{
		opacity: 1;
	}
}