<div class="row">
	<div class="medium-12 columns">
	  	<h1>Botones dentro de un Post</h1>
		<p>
			Los botones se utilizan para resaltar un link externo. Por lo general se utilizan al final de un artículo y pueden ir varios botones de seguido sin ningún inconveniente. Para utilizar el botón se debe utilizar la etiqueta html <code>&lt;a class="boton"&gt;</code>.
		</p>
	</div>
</div>

<hr>


<div class="row">
	<div class="medium-12 columns">
		<h2>Código de ejemplo para agregar un botón</h2>
		<div class="panel">
			&lt;a href="http://ejempla.com/actualidad/adios-al-yugo-de-las-telefonicas" class="boton" target="_blank"&gt;Leer más sobre la Ley 5177 en Ejempla&lt;/a&gt;
		</div>
		<p>
			<a href="http://funnix.net/2014/09/11/paraguay-por-que-vence-mi-saldo/"><img src="images/ghost/un-boton.jpg" /></a>
		</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="medium-12 columns">
		<h2>Código de ejemplo para agregar varios botones</h2>
		<div class="panel">
			&lt;a href="http://www.amazon.com/Busqueda-Incansable-Traxion-Etilica/dp/B00PAH0AYE" class="boton" target="_blank"&gt;Amazon&lt;/a&gt;
			<br><br>
			&lt;a href="http://open.spotify.com/album/2HrKdWrpufE7TAWO1sLC4H" class="boton" target="_blank"&gt;Spotify&lt;/a&gt;
			<br><br>
			&lt;a href="https://itunes.apple.com/ar/album/busqueda-incansable/id935696702" class="boton" target="_blank"&gt;iTunes&lt;/a&gt;
			<br><br>
			&lt;a href="http://www.7digital.com/artist/traxion-etilica/release/busqueda-incansable" class="boton" target="_blank"&gt;7Digital&lt;/a&gt;
		</div>
		<p>
			<a href="http://rockntown.com/2014/12/07/bandas-recomendadas-hoy-traxion-etilica/"><img src="images/ghost/varios-botones.jpg" /></a>
		</p>
	</div>
</div>
