<div class="row">
	<div class="large-12 columns">
		<h1>Cambiar contraseña</h1>
	  	<p>
			<img src="images/ghost/cambiar-clave.jpg" />
		</p>
		<p>
			Dentro del mismo formulario de editar datos de tu perfil, podes cambiar tu contraseña. Recuerda que necesitas poner tu clave anterior y por supuesto no olvides que la nueva clave debe ser algo pensado para no ser "adivinado" por otras personas que puedan querer entrar a tu perfil sin tu permiso.
		</p>
		<p class="text-center">
			{{#link-to 'ghost.post' class="button"}}Empezar a publicar{{/link-to}}
		</p>
	</div>
</div>