<h1>Formato</h1>
<p>Para formatear un post en Ghost, se utiliza un lenguaje de marcado o <em>Markdown</em>. Para evitar tipear los símbolos podes utilizar los atajos de teclas equivalentes. Ambos mecanismos se describen en la siguiente tabla:<p>

<table>
    <thead>
    <tr>
        <th>Resultado</th>
        <th>Markdown</th>
        <th>
            Atajo de teclas <select id="sistema-operativo" style="width:auto; margin-bottom:0px;">
                <option>Windows o Linux</option>
                <option>OS X</option>
            </select>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>Negrita</strong></td>
        <td>**text**</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + B </td>
    </tr>
    <tr>
        <td><em>Cursiva</em></td>
        <td>*text*</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + I</td>
    </tr>
    <tr>
        <td><del>Tachado</del></td>
        <td>~~text~~</td>
        <td>Ctrl + Alt + U</td>
    </tr>
    <tr>
        <td><a href="Javascript:void(0);">Link</a></td>
        <td>[title](http://)</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + K</td>
    </tr>
    <tr>
        <td><code>Código en línea</code></td>
        <td>`code`</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + Shift + K</td>
    </tr>
    <tr>
        <td>Imagen</td>
        <td>![alt](http://)</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + Shift + I</td>
    </tr>
    <tr>
        <td>Lista</td>
        <td>* item</td>
        <td>Ctrl + L</td>
    </tr>
    <tr>
        <td>Bloque de cita</td>
        <td>&gt; quote</td>
        <td>Ctrl + Q</td>
    </tr>
    <tr>
        <td>Título Principal (H1) <strong>[es recomendable no usar]</strong></td>
        <td># Heading</td>
        <td></td>
    </tr>
    <tr>
        <td>Sub título (H2)</td>
        <td>## Heading</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + H</td>
    </tr>
    <tr>
        <td>Sub título de un subtítulo (H3)</td>
        <td>### Heading</td>
        <td><span class="windows-linux">Ctrl</span><span class="osx" style="display:none;">⌘</span> + H (x2)</td>
    </tr>
    </tbody>
</table>

<p>
    La información de la tabla anterior también se encuentra disponible en el botón <strong>?</strong> ubicado en la esquina superior derecha del editor. Para más información sobre la sintaxis de Markdown visita la <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Documentación de Markdown</a>.
</p>
<p class="text-center">
    {{#link-to 'ghost.imagenes' class="button"}}Agregar imágenes a un post{{/link-to}}
</p>