<div class="row">
	<div class="large-12 columns">
	  	<h1>Agregar imágenes a un Post</h1>
		<p>
			Para añadir imágenes a tu artículo, debes presionar <em>Ctrl + Shift + I</em> o escribir <code>![]()</code> en el editor (lado izquierdo de la pantalla). Inmediatamente aparecerá un cuadro de imagen en la vista previa del artículo (lado derecho).
		</p>
		<p><img src="images/ghost/agregar-imagen.jpg" /></p>
		<p>
			Dentro de los corchetes de <code>![]()</code> debes insertar la descripción de la imagen. Ejemplo: <em>Apariencia del viejo Rockntown</em>. Para añadir la imagen, debes pegar una url dentro de los paréntesis, por ejemplo: <code>[Apariencia del viejo Rockntown] (http://rockntown.com/content/images/2014/12/rockntown.jpg)</code>, o lo que es mejor: hacer click en el cuadro de <strong>Add image of</strong> del lado derecho para cargar tu propia imagen.
		</p>
		<p>
			Para cargar una imagen, puedes arrastrar y soltar en la vista de previsualización, o hacer click en el cuadro donde dice <strong>Add image of</strong> y seleccionar la imagen de que querés subir.
		</p>
		<p><img src="images/ghost/agregar-imagen-gif.gif" /></p>
		<p>
			Si agregas varias imágenes seguidas, sin texto intermedio, se creará automáticamente una especie de <em>Galería</em> en el artículo una vez publicado.
		</p>
		<div class="panel">
			<strong>Recuerda</strong>. Todos los post deben empezar con una imagen o un {{#link-to 'ghost.videos'}}video{{/link-to}} para que ésta aparezca en el listado de posts como imagen destacada a la izquierda del artículo.
		</div>
		<p class="text-center">
			{{#link-to 'ghost.videos' class="button"}}Agregar videos{{/link-to}}
		</p>
	</div>
</div>