<div class="row">
	<div class="large-12 columns">
	  	<h1>Ghost</h1>
		<p><img src="images/blogs/rockntown.jpg" /></p>
	  	<p>
			Los {{#link-to 'blogs'}}blogs de Dixit{{/link-to}} están migrando a una plataforma de contenidos llamada <em>Ghost</em>. Para hacer más fácil tu trabajo de publicar en nuestros sitios, hemos recopilado el presente tutorial.
		</p>
		<p class="text-center">
			{{#link-to 'ghost.perfil' class="button"}}Empezar{{/link-to}}
		</p>
		<p>
			La mayor parte del contenido de esta sección consiste en una simple traducción de la documentación original localizada en la <a href="http://support.ghost.org/user-guide/" target="_blank">guía de usuarios (en inglés)</a>.
		</p>
	</div>
</div>