<div class="row">
	<div class="large-12 columns">
	  	<h1>Datos de perfil</h1>
		<div class="large-4 columns">
			<img src="images/ghost/menu-perfil.jpg" />
		</div>
		<div class="large-8 columns">
			<p>
				Es importante que completes adecuadamente la información de tu perfil, ya que aparecerá al pie de cada post que escribas en el blog. Para cambiar la información de tu perfil debes ingresar al botón que lleva el nombre de tu usuario, se encuentra en la esquina superior derecha de la pantalla. Una vez allí, hacé click en <em>Your Profile</em>.
			</p>
		</div>
	</div>
</div>

<hr>

<h2>Perfil</h2>
<div class="row">
	<div class="large-12 columns">
	  	<p>
			<img src="images/ghost/form-perfil.jpg" />
		</p>
		<p>
			De la imagen anterior se identifican 8 campos, de los cuales 7 son realmente importantes:
		</p>
		<ol>
			<li><strong>Picture</strong>: Es el avatar o imagen de perfil. Para cambiarla solo debes hacer click en el redondo que está en la parte superior izquierda.</li>
			<li><strong>Full name</strong>: Es tu nombre tal cual lo verán los lectores de tus posts.</li>
			<li><strong>Slug</strong>: Es una versión simplificada del campo anterior. Se utiliza únicamente para la url que apuntará a tus artículos.</li>
			<li><strong>Email</strong>: Es el email al que vincularás tu cuenta.</li>
			<li><strong>Location</strong>: Te recomendamos poner únicamente tu país, pero si querés poner tu ciudad podes hacerlo.</li>
			<li><strong>Website</strong>: Es tu página web, la de tu blog personal, organización o proyecto de vida.</li>
			<li><strong>Bio</strong>: Esta parte es <strong>muy importante</strong> ya que allí resumiras en 200 caraceteres o menos quién sos. Gracias a que este campo aparece al pie de tus posts, tus lectores podrán tener una mejor idea de quién escribe lo que están leyendo.</li>
			<li>
				<strong>Cover</strong>: Es la imagen de portada, sólo aparece en la pantalla donde se listan tus artículos. Para cambiarla debes hacer click en el rectangulo superior donde la primera vez que entres se verá una imagen predeterminada de Ghost.
				<br/><br/>
				<img src="images/ghost/perfil-cover.jpg"/>
			</li>
		</ol>
		<p class="text-center">
			{{#link-to 'ghost.cambiar-clave' class="button"}}Cambiar contraseña{{/link-to}}
		</p>
	</div>
</div>