<div class="row">
	<div class="medium-12 columns">
		<h1>Pasos para crear un Post</h1>
		<ol>
			<li>Acceder al panel de administración e iniciar sesión con los datos proveídos por Dixit.</li>
			<li>
				En la pestaña <strong>Content</strong> se pueden ver los artículos ya publicados y los borradores en desarrollo.
				<br/><br/>
				<img src="images/ghost/navbar.png"/>
				<br/><br/>
			</li>
			<li>Para crear un nuevo artículo debes ingresar a la pestaña <strong>New Post</strong>.</li>
			<li>
				Una vez dentro del editor, podes crear el artículo y prepararlo para la publicación.
				<br/><br/>
				<div class="panel">
					<strong>Recuerda</strong>. Todos los post deben empezar con una {{#link-to 'ghost.imagenes'}}imagen{{/link-to}} o un {{#link-to 'ghost.videos'}}video{{/link-to}} para que ésta aparezca en el listado de posts como imagen destacada a la izquierda del artículo.
				</div>
			</li>
			<li>
				En el lado izquierdo se encuentra el panel editor, aquí es donde se puede escribir en la {{#link-to 'ghost.formato'}}sintaxis de Markdown{{/link-to}}. En el lado derecho de la pantalla, verás una vista previa con una idea de cómo se verá el post cuando se publica en el blog.
				<br/><br/>
				{{#link-to 'ghost.ejemplo-post'}}<img src="images/ghost/editor.jpg"/>{{/link-to}}
				<br/><br/>
			</li>
			<li>
				Las etiquetas se utilizan para crear un mecanismo de categorías para post con temas similares. Los artículos deben tener una cantidad adecuada de etiquetas, para agregarlas existe un botón en la esquina inferior izquierda de la pantalla. Puedes separar las etiquetas con <em>coma</em> o pulsando <em>ENTER</em>.
				<br/><br/>
				<img src="images/ghost/tags.png"/>
				<br/><br/>
				<div class="panel">
					Recomendamos que todas las etiquetas respeten las mayúsculas, minúsculas, espacios y acentros propios de la lengua española
				</div>
			</li>
			<li>
				<strong>Guardar un borrador</strong>. Para guardar un borrador (sin publicarlo) debes hacer clic en el botón <strong>Save Draft</strong> ubicado en la esquina inferior derecha.
			</li>
			<li>
				<strong>Publicar un post</strong>. Una vez que hayas terminado de editar el post, es el momento de hacerlo público. Para ello, buscá el botón <strong>Save Draft</strong> ubicado en la esquina inferior derecha de la pantalla. Al lado encontrarás una flecha. Hacé clic en esta flecha para cambiar la acción del botón y seleccioná <strong>Publish now</strong>. El botón ahora se volverá rojo. <strong>Hacé clic en el botón de nuevo para publicar el artículo</strong>. Recibirás una notificación de éxito una vez que el post haya sido publicado en el blog.
				<br/><br/>
				<img src="images/ghost/publicar.png"/>
				<br/><br/>
			</li>
		</ol>
		<p class="text-center">
			{{#link-to 'ghost.formato' class="button"}}Formatear un post{{/link-to}}
		</p>
	</div>
</div>