<div class="row">
	<div class="medium-12 columns">
		<h1>¿Cómo insertar videos?</h1>
	  	<p>
			<img src="images/ghost/insertar-video.jpg" />
		</p>
		<p>
			Para agregar videos debes copiar el código <code>iframe</code>, para obtenerlo tenés que hacer click en el botón <em>Compartir</em> de Youtube (está debajo del video que reproducís), Vimeo (el tercer botón de la derecha) o cualquier otro que tenga una opción similar.
		</p>
		<p>
			<img src="images/ghost/insertar-video-vimeo.jpg" />
		</p>
		<p>
			Para insertar el reproductor de <a href="https://soundcloud.com/">Soundcloud</a>, debes hacer click en el botón <em>Share</em> que está debajo del audio que estás queriendo insertar, entonces se abrirá un pop-up donde encontrarás el <code>iframe</code> en la pestaña de <em>Embed</em>. En la mayoría de los sitios web con contenido multimedia está disponible la opción de Embed, lo que te permitirá infinitas posibilidades de complementar tus artículos.
		</p>
		<div class="panel">
			<strong>Recuerda</strong>. Todos los post deben empezar con una {{#link-to 'ghost.imagenes'}}imagen{{/link-to}} o un video para que ésta aparezca en el listado de posts como imagen destacada a la izquierda del artículo.
		</div>
		<p class="text-center">
			{{#link-to 'ghost.botones' class="button"}}Agregar botones{{/link-to}}
		</p>
	</div>
</div>