<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-6 columns">
                        <div
                          class="fb-like"
                          data-layout="standard" 
                          data-action="like"
                          data-show-faces="true"
                          data-share="false"
                          data-width="100%">
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li>
                                <a href="http://facebook.com/grupodixit">
                                    <i class="icon icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/grupodixit">
                                    <i class="icon icon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/111917985301567416308">
                                    <i class="icon icon-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contacto@dixit.com.py">
                                    <i class="icon icon-mail"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</footer>