<li>
	{{#link-to 'index' class="button"}}
		<i class="show-for-medium-only icon icon-inicio"></i>
		<span class="hide-for-medium-only">Inicio</span>
	{{/link-to}}
</li>
<li>{{#link-to 'nosotros' class="button"}}Nosotros{{/link-to}}</li>
<li>{{#link-to 'equipo' class="button"}}Equipo{{/link-to}}</li>
<li>{{#link-to 'ideas' class="button"}}Ideas{{/link-to}}</li>
<li>{{#link-to 'trabajos' class="button"}}Trabajos{{/link-to}}</li>
<li>{{#link-to 'blogs' class="button"}}Blogs{{/link-to}}</li>