<li>{{#link-to 'nosotros' class="button"}}Nosotros{{/link-to}}</li>
<li><a href="http://equipo.dixit.com.py" class="button">Equipo</a></li>
<li>{{#link-to 'ideas' class="button"}}Ideas{{/link-to}}</li>
<li>{{#link-to 'trabajos' class="button"}}Trabajos{{/link-to}}</li>
<li>{{#link-to 'blogs' class="button"}}Blogs{{/link-to}}</li>