<div class="row">
    <div class="large-3 columns">
        <h1 style="display:none;">Dixit</h1>
        {{#link-to 'index'}}<div class="dixit"></div>{{/link-to}}
    </div>
    <div class="large-9 columns">
        <ul class="right button-group">
            <li>{{#link-to 'nosotros' class="button"}}Nosotros{{/link-to}}</li>
            <li><a href="http://equipo.dixit.com.py" class="button">Equipo</a></li>
            <!--<li><a href="/ideas" class="button">Ideas</a></li>-->
            <li>{{#link-to 'trabajos' class="button"}}Trabajos{{/link-to}}</li>
            <li>{{#link-to 'blogs' class="button"}}Blogs{{/link-to}}</li>
        </ul>
    </div>
</div>

{{outlet}}

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-6 columns">
                        <p>© 2014 Dixit</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li>
                                <a href="http://facebook.com/grupodixit">
                                    <i class="icon icon-facebook fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/grupodixit">
                                    <i class="icon icon-twitter fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contacto@dixit.com.py">
                                    <i class="icon icon-mail fa-stack-1x fa-inverse"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</footer>
