
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <aside class="right-off-canvas-menu">
        <br>
        <ul class="off-canvas-list">
            {{partial "includes/menu"}}
        </ul>
    </aside>

    <div class="row">
        <div class="large-3 columns">
            <a class="right-off-canvas-toggle hide-for-medium-up dixit-movil" href="Javascript:void(0);" >
                <i class="icon icon-menu"></i>
            </a>
            {{#link-to 'index'}}<div class="dixit"></div>{{/link-to}}
        </div>
        <div class="large-9 columns show-for-medium-up">
            <ul class="right button-group">
                {{partial "includes/menu"}}
            </ul>
        </div>
    </div>

    <hr class="hide-for-medium-up"/>
    
    {{outlet}}

    {{partial "includes/footer"}}

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>
