<div class="row">
    <div class="large-3 columns">
        <h1 style="display:none;">Dixit</h1>
        <a href="/"><div class="dixit"></div></a>
    </div>
    <div class="large-9 columns">
        <ul class="right button-group">
            <li><a href="/nosotros" class="button">Nosotros</a></li>
            <li><a href="http://equipo.dixit.com.py" class="button">Equipo</a></li>
            <!--<li><a href="/ideas" class="button">Ideas</a></li>-->
            <li><a href="/trabajos" class="button">Trabajos</a></li>
            <li><a href="/blogs" class="button">Blogs</a></li>
        </ul>
    </div>
</div>

{{outlet}}

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-6 columns">
                        <p>© 2014 Dixit</p>
                    </div>
                    <div class="large-6 columns">
                        <ul class="inline-list right">
                            <li>
                                <a href="http://facebook.com/grupodixit">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/grupodixit">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:contacto@dixit.com.py">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</footer>
