
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <aside class="right-off-canvas-menu">
        <br>
        <ul class="off-canvas-list">
            {{partial "includes/menu"}}
        </ul>
    </aside>

    <div class="row">
        <div class="large-3 columns">
            <h1 style="display:none;">Dixit</h1>
            <a class="right-off-canvas-toggle hide-for-medium-up dixit-movil" href="Javascript:void(0);" >
                <i class="icon icon-menu"></i>
            </a>
            {{#link-to 'index'}}<div class="dixit"></div>{{/link-to}}
        </div>
        <div class="large-9 columns show-for-medium-up">
            <ul class="right button-group">
                {{partial "includes/menu"}}
            </ul>
        </div>
    </div>

    <hr class="hide-for-medium-up">

    {{outlet}}

    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-6 columns">
                            <div
                              class="fb-like"
                              data-layout="standard" 
                              data-action="like"
                              data-show-faces="true"
                              data-share="true"
                              data-width="100%">
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <ul class="inline-list right">
                                <li>
                                    <a href="http://facebook.com/grupodixit">
                                        <i class="icon icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/grupodixit">
                                        <i class="icon icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/111917985301567416308">
                                        <i class="icon icon-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:contacto@dixit.com.py">
                                        <i class="icon icon-mail"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </footer>

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>
