<div class="row">
  <div class="large-12 columns">
    <ul data-orbit>
      <li><a href="http://funnix.net/"><img src="images/funnix.png"/></a></li>
      <li><a href="http://blogdeonda.com/"><img src="images/blogdeonda.png"/></a></li>
      <li><a href="http://rockntown.com/"><img src="images/rockntown.png"/></a></li>
      <li><a href="http://akashablog.net/"><img src="images/akashablog.png"/></a></li>
    </ul>
  </div>
</div>
<hr/>

<div class="row">
  <div class="large-12 columns">
    <h1>Blogs</h1>
    <p>Dixit está conformado por un gran número de personas que dedican su tiempo a la redacción de artículos y creación de contenido en los más diversos ámbitos dentro de los blogs.</p>
  </div>
</div>