<br>
<div class="row">
	<div class="large-3 columns">
		<ul class="side-nav">
		  <li><h3>{{#link-to 'ghost' class="subtitulo"}}Ghost{{/link-to}}<h3></li>
		  <li>{{#link-to 'ghost.perfil'}}Perfil{{/link-to}}</li>
		  <li>{{#link-to 'ghost.cambiar-clave'}}Cambiar contraseña{{/link-to}}</li>
		  <li>{{#link-to 'ghost.post'}}Post{{/link-to}}</li>
		  <li>{{#link-to 'ghost.formato'}}Formato{{/link-to}}</li>
		  <li>{{#link-to 'ghost.imagenes'}}Imágenes{{/link-to}}</li>
		  <li>{{#link-to 'ghost.botones'}}Botones{{/link-to}}</li>
		</ul>
	</div>
	<div class="large-9 columns">
		{{ outlet }}
	</div>
</div>