<div class="row">
	<div class="large-12 columns">
		<ul data-orbit id="galeria-principal">
			<li><a href="http://blogdeonda.com/category/sow"><img src="images/blogdeonda-sow.jpg"/></a></li>
			<li><a href="http://funnix.net/"><img src="images/blogs/funnix.jpg"/></a></li>
			<li><a href="http://blogdeonda.com/"><img src="images/blogs/blogdeonda.jpg"/></a></li>
			<li><a href="http://rockntown.com/"><img src="images/blogs/rockntown.jpg"/></a></li>
			<li><a href="http://akashablog.net/"><img src="images/blogs/akashablog.jpg"/></a></li>
		</ul>
	</div>
</div>