<div id="full-page" class="home">
    
    <div class="section bienvenidos">

    	<div class="text-center">
	    	<h2>Bienvenido al mundo</h2>
	    	<br>
        	<div class="dixit centrado"></div>
        	<br><br>
			<p>Somos un grupo de jóvenes trabajando en la solución web que estás buscando.</p>
			{{#link-to 'nosotros' class="button"}}Más sobre nosotros{{/link-to}}
			<br><br>
			<a class="siguiente" {{action 'siguiente'}}><i class="icon icon-abajo"></i></a>
        </div>

    </div>

    <div class="section equipo">

    	<div class="vidrio text-center">
			<h2>{{#link-to 'equipo'}}Equipo{{/link-to}}</h2>
			<p>Contamos con un equipo diverso, preparado para enfrentar los desafíos con una visión diferente.</p>
			{{#link-to 'equipo' class="button"}}Pasá a conocer al equipo{{/link-to}}
			<br><br>
			<a class="siguiente" {{action 'siguiente'}}><i class="icon icon-abajo"></i></a>
		</div>

    </div>

    <div class="section ideas">

    	<div class="vidrio text-center">
			<h2>{{#link-to 'ideas'}}Ideas{{/link-to}}</h2>
			<p>Somos innovadores, pensamos en soluciones que puedan cambiar la forma de encarar tus problemas.</p>
			{{#link-to 'ideas' class="button"}}Inspirate{{/link-to}}
			<br><br>
			<a class="siguiente" {{action 'siguiente'}}><i class="icon icon-abajo"></i></a>
		</div>

    </div>

    <div class="section trabajos">

    	<div class="vidrio text-center centrado-vertical">
			<h2>{{#link-to 'trabajos'}}Trabajos{{/link-to}}</h2>
			<p>Nuestros clientes están satisfechos con los resultados alcanzados.</p>
			{{#link-to 'trabajos' class="button"}}Galería de trabajos{{/link-to}}
			<br><br>
			<a class="siguiente" {{action 'siguiente'}}><i class="icon icon-abajo"></i></a>
		</div>

    </div>

    <div class="section blogs">

    	<div class="vidrio medium-6 column text-center">
			<h2>{{#link-to 'blogs'}}Contenido{{/link-to}}</h2>
			<p>Compartimos nuestras experiencias mediante contenido único enfocado a un público joven con sed de información</p>
			{{#link-to 'blogs' class="button"}}Visita nuestros blogs{{/link-to}}
		</div>

    </div>

</div>