<div id="full-page" class="home">
    
    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
		    	
		    	<div class="text-center">
			    	<h2>Bienvenido al mundo</h2>
			    	<br>
                	<div class="dixit centrado"></div>
	            </div>

			</div>
		</div>

    </div>

    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
				{{#link-to 'nosotros' class="button"}}Nosotros{{/link-to}}

				<button class="sigueinte-slide">Siguiente</button>
			</div>
		</div>

    </div>

    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
				{{#link-to 'equipo' class="button"}}Equipo{{/link-to}}

				<button class="sigueinte-slide">Siguiente</button>
			</div>
		</div>

    </div>

    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
				{{#link-to 'ideas' class="button"}}Ideas{{/link-to}}

				<button class="sigueinte-slide">Siguiente</button>
			</div>
		</div>

    </div>

    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
				{{#link-to 'trabajos' class="button"}}Trabajos{{/link-to}}

				<button class="sigueinte-slide">Siguiente</button>
			</div>
		</div>

    </div>

    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
				{{#link-to 'blogs' class="button"}}Blogs{{/link-to}}

				<button class="sigueinte-slide">Siguiente</button>
			</div>
		</div>

    </div>

    <div class="section">

    	<div class="row">
			<div class="medium-12 columns">
				
				<div class="medium-9 columns">
					<p>Sea parte de nuestro equipo o simplemente acérquenos cualquier consulta y en breve nos contactamos con usted.</p>
				</div>
				<div class="medium-3 columns">
					<a href="mailto:contacto@dixit.com.py" class="radius button right"><i class="icon icon-mail"></i> &nbsp;&nbsp;Contáctenos</a>
				</div>

			</div>
		</div>

    </div>

</div>