<div class="row">
	<div class="large-12 columns">
		<ul data-orbit>
			<li><a href="http://funnix.net/"><img src="images/funnix.png"/></a></li>
			<li><a href="http://blogdeonda.com/"><img src="images/blogdeonda.png"/></a></li>
			<li><a href="http://rockntown.com/"><img src="images/rockntown.png"/></a></li>
			<li><a href="http://akashablog.net/"><img src="images/akashablog.png"/></a></li>
		</ul>
	</div>
</div>
<hr/>


<div class="row">

	<div class="large-4 columns">
		<a href="/blogs"><img src="images/nuestros-blogs.png"/></a>
		<h4>Nuestros blogs</h4>
		<p>Dixit está conformado por un gran número de personas que dedican su tiempo a la redacción de artículos y creación de contenido en los más diversos ámbitos dentro de los blogs. <a href="/blogs"><i class="fa fa-arrow-right"></i></a></p>
	</div>

	<div class="large-4 columns">
		<a href="http://blogdeonda.com/category/sow"><img src="images/blogdeonda-sow-chico.png"/></a>
		<h4>Session of wave</h4>
		<p>El espacio de <em>"Un blog... de onda"</em> donde se realizan entrevistas a bandas musicales. El segmento incluye además una sección donde los artistas tocan sus canciones en vivo para nuestras cámaras. <a href="http://blogdeonda.com/category/sow"><i class="fa fa-arrow-right"></i></a></p>
	</div>

	<div class="large-4 columns">
		<a href="/blogs"><img src="images/trabajos.png"/></a>
		<h4>Trabajos</h4>
		<p>Nuestro objetivo no sólo es brindarle un sitio web, sino alentarlo a formar parte de la web 2.0 y orientarlo en el proceso de inserción a este fascinante mundo. <a href="/trabajos"><i class="fa fa-arrow-right"></i></a></p>
	</div>

</div>


<div class="row">
	<div class="large-12 columns">

		<div class="panel">
			<h4>¿Tiene comentarios que aportar?</h4>

			<div class="row">
				<div class="large-9 columns">
					<p>Sea parte de nuestro equipo o simplemente acérquenos cualquier consulta y en breve nos contactamos con usted.</p>
				</div>
				<div class="large-3 columns">
					<a href="mailto:contacto@dixit.com.py" class="radius button right"><i class="fa fa-envelope"></i> &nbsp;&nbsp;Contáctenos</a>
				</div>
			</div>
		</div>

	</div>
</div>