<div class="row">
  <div class="medium-12 columns">
    <h1>Nosotros</h1>

    <p>Cuando las personas del mundo comenzaban a abrir sus ojos ante la maravilla más grande del último siglo, miles de creativos empezaron a armar los sitios que marcarían una generación.</p>
    <p>Las personas de hoy pasan más tiempo frente al navegador, que frente a cualquier otro medio de comunicación convencional. No ser parte de este fenómeno indudablemente cerraría las puertas a un sinfín de posibilidades comerciales.</p>
    <p>Poco a poco nació la necesidad de integrarse a la red, más usuarios, más compañías, más contenido, más vida.</p>
    <p>DIXIT nace para acercar a cada una de esas miles de organizaciones que buscan acercarse a la gente desde el lugar en el que todos se divierten, trabajan y pasan a gusto.</p>
    <p>Somos un grupo de jóvenes que trabaja en el desarrollo de sitios web, enfocados en el social media, en generación de contenido propio en nuestra red de blogs temáticos, y en lo más importante: hacer que vos te sientas a gusto cada vez que des un paseo por la internet.</p>
  </div>
</div>

<div class="row">
	<div class="medium-12 columns">

		<div class="panel">
			<h4>¿Tiene comentarios que aportar?</h4>

			<div class="row">
				<div class="medium-9 columns">
					<p>Sea parte de nuestro equipo o simplemente acérquenos cualquier consulta y en breve nos contactamos con usted.</p>
				</div>
				<div class="medium-3 columns">
					<a href="mailto:contacto@dixit.com.py" class="radius button right"><i class="icon icon-mail"></i> &nbsp;&nbsp;Contáctenos</a>
				</div>
			</div>
		</div>

	</div>
</div>