<div class="row">
  <div class="large-12 columns">
    <h1>Trabajos</h1>

    <ul data-orbit>
      <li><a href="http://cetsa.edu.py/"><img src="images/clientes/cetsa.jpg"/></a></li>
      <li><a href="http://nevado.com.py/"><img src="images/clientes/nevado.jpg"/></a></li>
      <li><a href="http://funnix.net/"><img src="images/blogs/funnix.jpg"/></a></li>
      <li><a href="http://blogdeonda.com/"><img src="images/blogs/blogdeonda.jpg"/></a></li>
      <li><a href="http://rockntown.com/"><img src="images/blogs/rockntown.jpg"/></a></li>
      <li><a href="http://akashablog.net/"><img src="images/blogs/akashablog.jpg"/></a></li>
      <li><a href="http://blogdeonda.com/category/sow/"><img src="images/blogdeonda-sow.jpg"/></a></li>
    </ul>
    
    <p>En DIXIT nos enfocamos principalmente en el desarrollo de contenidos y sitios con énfasis en lo social. Instrumentos como Facebook, Twitter y la web 2.0 pueden resultar muy convenientes a la hora de posicionar su marca ante un público bastante amplio, compuesto por consumidores de todas las edades, pudiendo expandir su target hacia nuevos horizontes y llegar con un click no solo a todo el Paraguay, sino a todo el mundo.</p>
    <p>Nuestro grupo está compuesto por jóvenes entusiastas, con experiencia en la elaboración de sitios con contenido temático. Además de diseñar su página le ofrecemos tutoría con recomendaciones acerca de las tendencias que están definiendo el mundo de las empresas en internet.</p>
    <p>Nuestro objetivo no sólo es brindarle un sitio web, sino alentarlo a formar parte de la web 2.0 y orientarlo en el proceso de inserción a este fascinante mundo.</p>
  </div>
</div>